<p style="padding: 130px 120px 40px 120px;">
We are a family-owned dog training and supplies company dedicated to providing and supplying
dog items like Tre Ponti Dog Harnesses, Cricket Dog Treats, Doggie Chicken Chips, and DogSheetz 
just to name a few. We have been in the business of providing quality dog-related products ever 
since we started back in 2013. Being in the business for several years now, we are proud to say 
that we are a company known to grant high-quality dog-related products as well as dog-training services.

Originally, our company started as a dog training company which provides in-home training solutions for 
dog owners in the Oklahoma area. Eventually, we evolved into a company that not only offers dog training 
services, but also dog-related products allowing us to venture in a wider market. This has allowed us to 
provide more dog-services and merchandise for all our clients. After all these years, our company has now
grown into what it is today.  Due to hard work, dedication and teamwork, our company has earned the reputation
as one of the prime dog supply companies in the USA.

As one of the leading companies, we value our clients’ opinions, recommendations and suggestions about the 
services that we provide. For that, we are always open to accepting new ideas and ventures that our customers 
want us to offer next. We take it a point to always listen to our clients for to us satisfy their whims and needs 
is the first and foremost thing that we should do. So, we encourage our clients to never hesitate to contact us. 
Clients can easily contact us through our Contact Us page.

For our company to become as we are today, our experts have spent most of their time on dog research. 
They also have spent most of their time seeking recommendations, commendations and guidance from various 
experts when it comes to taking care of pets. We use every possible way that we can to provide the best 
dog products for our clients.

If you are looking for quality dog products, then you are looking at the right direction for we are the company
 that will always be there to cater all your pet needs. We are the company that you can trust for your dog’s needs. 
 We promise to deliver you the kind of service that you and your dog truly deserve.

</p>